<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&subset=cyrillic');

    .fc-top {
        padding: 0 !important;
    }
    ._customer-btn {
        display: inline-block !important;
        min-width: 170px;
        box-sizing: border-box;
        outline: none;
        border-radius: 4px;
        padding: 10px 24px;
        color: #fff !important;
        font: 400 16px/1.2 Roboto, Arial, sans-serif;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        transition: all .2s;
        background: linear-gradient(180deg, #FFA800 0%, #FF8A00 100%);
        box-shadow: 0 5px 10px rgba(242, 174, 0, 0.5);
        text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.5);
    }
    ._customer-btn:hover {
        opacity: .9;
    }
    ._customer-ftr {
        background: linear-gradient(180deg, #606060 0%, #313131 100%);
        color: #ffffff;
        font: 300 12px/1.3 Arial, sans-serif;
        white-space: nowrap;
        cursor: default;
    }
    ._customer-ftr__logo {
        font: 900 30px/1.3 Roboto, Arial, sans-serif;
        color: #ffffff;
        text-align: center;
        margin-top: -10px;
    }
    ._customer-ftr ._customer-btn {
        margin-top: 10px;
    }
    ._customer-ftr p {
        line-height: 1.3 !important;
        margin: 0 !important;
    }
    ._customer-ftr ul {
        padding: 0;
        list-style: none !important;
        margin: 0 !important;
    }
    ._customer-ftr a {
        display: inline-block;
        color: inherit !important;
        text-decoration: none;
    }
    ._customer-ftr__cnt {
        display: flex !important;
        justify-content: space-between;
        width: 100%;
        max-width: 1227px;
        box-sizing: border-box;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 50px;
    }
    ._customer-ftr__top {
        padding: 30px 0 30px;
    }
    ._customer-ftr__col {
        padding: 0 15px;
    }
    ._customer-ftr__col:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    ._customer-ftr__ttl {
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        margin: 0;
        margin-bottom: 15px;
    }
    ._customer-ftr__menu li:not(:last-of-type) {
        margin-bottom: 12px;
    }
    ._customer-ftr__menu a {
        color: inherit !important;
    }
    ._customer-ftr__menu a:hover {
        color: #fff !important;
        text-decoration: underline;
    }
    ._customer-ftr__contact {
        padding-left: 20px;
        margin-bottom: 12px;
    }
    ._customer-ftr__contact a {
        transition: color .2s;
    }
    ._customer-ftr__contact_phone a:hover, ._customer-ftr__contact_mail a:hover {
        text-decoration: underline;
    }
    ._customer-ftr__contact_phone {
        font-family: Roboto, Arial, sans-serif;
        background: url(img/footer/phone.png) no-repeat center left;
    }
    ._customer-ftr__contact_address {
        background: url(img/footer/maps.png) no-repeat 0 5px;
    }
    ._customer-ftr__contact_mail {
        background: url(img/footer/mail.png) no-repeat center left;
    }
    ._customer-ftr__bot {
        padding: 12px 0;
        background: linear-gradient(180deg, #606060 0%, #313131 100%);
        font-size: 13px;
    }
    ._customer-ftr__copy {
        padding: 0 15px;
        color: #dae9f0;
        font-size: 13px;
    }

</style>
<footer class="_customer-ftr" itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="_customer-ftr__top">
        <div class="_customer-ftr__cnt">
            <div class="_customer-ftr__col">
                <a href="/" title="На главную" class="_customer-ftr__logo">
                    ТСК Селтис
                </a>
                <div class="_customer-btn ab-order js-apress-order-button js-orders-callback-link" data-button-type="order_callback"
                     data-company="99423257" data-company-id="99423257" data-company-name="Селтис" data-company-name-rest="ТСК"
                     data-company-url="http://www.celtis-tsk.ru/catalog" data-params="{&quot;company_id&quot;:&quot;99423257&quot;}"
                     data-statistics="1" data-type="callback" onclick="yaCounter49127437.reachGoal('megasite_footer_callback'); return true;">
                    Заказать звонок
                </div>
            </div>
            <div class="_customer-ftr__col">
                <h4 class="_customer-ftr__ttl">Покупателям</h4>
                <ul class="_customer-ftr__menu">
                    <li><a href="/about">О компании</a></li>
                    <li><a href="/catalog">Товары и услуги</a></li>
                    <!--<li><a href="/">Доп. страница</a></li>-->
                    <!--<li><a href="/">2-я доп. страница</a></li>-->
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="_customer-ftr__col">
                <h4 class="_customer-ftr__ttl">Каталог</h4>
                <ul class="_customer-ftr__menu">
                    <li><a href="/catalog/k-6574581-lakokrasochnyye_materialy">Лакокрасочные материалы</a></li>
                    <li><a href="/catalog/k-6574576-otdelochnyye_materialy">Отделочные материалы</a></li>
                    <li><a href="/catalog/k-6574577-stroitelnyye_materialy">Строительные материалы</a></li>
                    <li><a href="/catalog/k-6574582-schetchiki_elektroenergii">Счетчики электроэнергии</a></li>
                    <li><a href="/catalog/k-6574578-pozharnoye_oborudovaniye">Пожарное оборудование</a></li>
                </ul>
            </div>
            <div class="_customer-ftr__col">
                <h4 class="_customer-ftr__ttl">Контакты</h4>
                <div class="_customer-ftr__contact _customer-ftr__contact_phone">
                    <a onclick="yaCounter49127437.reachGoal('megasite_footer_tel'); return true;" itemprop="telephone" href="tel:+79614030531">+7 (961) 403-05-31</a>
                </div>
                <div class="_customer-ftr__contact _customer-ftr__contact_address" itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
                    <span itemprop="addressLocality">г. Ростов-на-Дону</span>, пр<br> <span itemprop="streetAddress">Космонавтов, 2/2, оф. 507</span>
                </div>
                <div class="_customer-ftr__contact _customer-ftr__contact_mail">
                    <a onclick="yaCounter49127437.reachGoal('megasite_footer_email'); return true;" itemprop="email" href="mailto:celtis.tsk@mail.ru">celtis.tsk@mail.ru</a>
                </div>

            </div>
        </div>
    </div>
    <div class="_customer-ftr__bot">
        <div class="_customer-ftr__cnt">
            <p class="_customer-ftr__copy">© <span itemprop="name"  content="ТСК Селтис">Селтис</span></p>
        </div>
    </div>
</footer>
